* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background do site, remoção da barra de scroll e reset de estilos das listas e dos links*/

body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik', 'Arial';
    background-attachment: scroll;
    color: #ffffff;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}




li {
    list-style: none;
}

a {
    text-decoration: none;
}




/*header*/
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background: #FC4D27;
    z-index: 3;
}

.topbar__container {
    margin: 0 auto;
    max-width: 1300px;
}

.topbar__wrapper {
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: space-between;
}

.topbar___items li {
    display: inline;
    margin-left: 33px;
}

.topbar___items li:last-child {
    margin-right: 40px;
}

.topbar___items a {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 2px 2px 8px #000000;
    padding-bottom: 3px;
}

.topbar___items a:hover{
    border-bottom: 1px solid #ffffff;
}

.topbar___market {
    margin-left: 34px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
}

.topbar___logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50%;
    width: 76px;
    height: 76px;
    z-index: -2;
}

/*H1*/

.title__container {
    max-width: 1300px;
    margin: 0 auto;
}

.title__wrapper {
    margin-top: 279px;
    margin-left: 20%;
}

.title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    max-width: 340px;

}

/*telefone*/

.telefone__container {
    margin: 0 auto;
    margin-top: 56px;
    max-width: 1300px;
}

.telefone__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.telefone___conteudo {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    width: 1298px;
    background: rgba(87, 87, 87, 0.5);
    padding: 6px 0 6px 0;

}

/*comments-cards*/

.comments {
    margin-top: 92px;
}


.cards-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 117px;
    text-align: center;

}


.comments-cards__container {
    max-width: 1300px;
    margin: 0 auto;
}



.card1 {
    width: 242px;

    background: rgb(102, 102, 102, 0.5);
}



.card_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 15px;
}


.card_cite{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    text-align: center;
    line-height: 114px;
    height: 60px;
}

.card_comment{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    margin-bottom: 10px;
}

.card2 {
    width: 242px;

    background: rgb(102, 102, 102, 0.5);

}

.card3 {
    width: 242px;

    background: rgb(102, 102, 102, 0.5);

}


.cards {
    display: flex;
    gap: 41px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 147px;
}


/*menu responsivo*/




.topbar___nav-mobile{
    display: none;
}

.topbar___nav_mobile_ul{
    display: none;
}


@media screen and (max-width:850px){
    .topbar___nav_mobile_ul{
        display: block;
    }
    .topbar___nav-mobile{
        display: block;
    }

    .topbar___items{
        display: none;
    }
}

#menu_mobile{
    display: none;
}

#menu_mobile button{

    color: white;
    font-size: 25px;
}


.menutoggle input:checked ~ #menu_mobile{
    display: block;

}




#menu_mobile{
    position: absolute;
    background-color: #FC4D27;
    padding: 1.5rem;
    right: 0;
    top: 73;
    height: 100vh;
    
}

.topbar___nav_mobile_ul li{
    margin: 10px 0px;
}

.topbar___nav_mobile_ul li a{
    color: #ffffff;
    border-bottom:  1px solid #ccc;
}

.topbar___nav_mobile_ul li a:hover{
    color: #ccc;
}

.menutoggle span{
    width: 28px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 9px;
    display: block;
}

.menutoggle span:last-child{
    margin: 0;
}

.menutoggle input{
    display: none;
}

.menutoggle{
    margin-right: 54px;
}

.menutoggle label{
    cursor: pointer;
}




/*Redes sociais*/

.social_media__container{
    max-width: 1300px;
    margin: 0 auto;
}


.social_media___wrapper{
    display: flex;
    justify-content: center;
    gap: 173px;
    flex-wrap: wrap;
}

.social_media___wrapper svg, .social_media___wrapper img{
    width: 99px;
    height: 99px;
}

.social_media___wrapper img{
    width: 99px;
    height: 99px;
    margin: 0;
    padding: 0;
}

a.instagram {
    display: block;
    position: relative;
}
a.instagram::before {
    content: '';
    display: block;
    background-color: #fff;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
    border-radius: 23px;
    /* margin: 3px; */
}
a.instagram svg {
    position: relative;
    z-index: 2;
}

/*footer*/

footer{
    width: 100vw;
    height: 147px;
    background-color: #FC4D27;
    margin-top: 150px;

}

footer a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}

footer a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}

footer p{
    max-width: 1300px;
    margin: 0 auto;
    padding: 36px 26px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}
